/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 18, 2021, 1:06:14 PM
    Author     : Shihan
*/

@font-face {
    font-family: ColourSansRegular2;
    src: url(../fonts/colour_sans/ColourSans-Regular2.c1fb05b.woff2) format("woff2"),
        url(../fonts/colour_sans/ColourSans-Regular2.0e7e5cf.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

.df-logo1{
    top: 0px;
    position: absolute;
    right: 0;
}
.surfaceerror,
.topcoaterror{
    display: none;
}
.header-01,
.header-02,
.header-03,
.header-04,
.header-05 {
    font-family: "IBM Plex Sans", sans-serif;
}
.df-title {
    margin-top: 35px;
}
.surface_opt{padding-left: 8px;}
.s1-header nav {
    background-color: #f00;
    box-shadow: 0 0.2rem 0.4rem 0 rgba(79,65,65,.1);
}
.m60-corporate-bar {
    background-image: linear-gradient(90deg,#fff,#f4f4f4);
}

.m60-corporate-bar .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}

.icon svg {
    height: 100%;
    width: 100%;
    display: block;
    fill: currentColor;
}
.icon {
    display: inline-block;
    vertical-align: middle;
}

.m60-corporate-bar .corporate-logo:before {
    content: "";
    display: block;
}

.m60-corporate-bar .corporate-logo:before {
    padding-top: 11.90476/rem%;
}
.m60-corporate-bar.full-layout .corporate-logo, [dir=ltr] .m60-corporate-bar.full-layout .site-switch {
    margin-left: 2.4rem;
}

.m60-corporate-bar .corporate-logo {
    width: 100%;
    max-width: 8.4rem;
    height: 1.2rem;
    position: relative;
}
.m60-corporate-bar.full-layout .multibrand {
    margin-left: 16.66667%;
    margin-right: auto;
}

.m60-corporate-bar .corporate-logo {
    width: 100%;
    max-width: 8.4rem;
    height: 1.2rem;
    position: relative;
}

.pro img{width: 30%; margin-left: auto; margin-right: auto;}
.header-03 {
    font-size: 16px;
    line-height: 1.125;
    font-weight: 400;
}

.navbar-header {
    background-image: linear-gradient(90deg,#fff,#f4f4f4);
    border-bottom:none;
}
.cusnav{display: flex;}
.df-logo img {
    width: auto;
    max-height: 5.2rem;
    transition: height .15s ease-in-out;
}

.df-logo1 img {
    /*width: 8.2rem;*/
    height: auto;
    transition: height .15s ease-in-out;
}

.navbar-header{
    /*max-height: 75px;*/
    height: 100px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-top: 0.2rem solid #012169;
}

.navbar-header .navbar-right {
    display: grid;
}

.bg-gray{background: #e6e6e6;padding: 10px 0px;min-height: 320px;}
.card-help {color: #fff;min-height: 200px;}
.card-help h5 {color: #fff;}
.card-help p {color: #fff;}
.bgbox1 {background: #44a4d6;}
    .bgbox2 {background: #719d3c;}
    .bgbox3 {background: #d1bc07;}
    
.step-item.active .step-link {
    cursor: none;
}
.nav-tabs .nav-link {height: 60px;}
h4, .h4 {
    font-size: 1.6rem;
}
.navbar-menu .nav-link {font-size: 15px;}

.text-capitalize {
    text-transform: capitalize;
}

@media (min-width: 1200px) {    
    .container {max-width: 1200px;}
    .content-components {margin-right: 0px;}    
    .navbar-header .navbar-brand {padding: 0 0 0 120px;}
    .df-title {margin-top: 5px; margin-bottom: 5px;}
    .s1-header.full-layout .m60-corporate-bar {display: flex;}
    .m60-corporate-bar.full-layout {height: 3.5rem;width: 100%;min-height: auto;}
    .m60-corporate-bar.full-layout .content-wrapper {padding-top: 0;padding-bottom: 0;}
    .m60-corporate-bar.full-layout .multibrand {margin-left: 16.66667%;margin-right: auto;}
}

@media (max-width: 768px) {
   .btn-xs-block { width: 100%; display:block; }
   .custom-checkbox .custom-control-label::before, .custom-checkbox .custom-control-label::after, .custom-radio .custom-control-label::before, .custom-radio .custom-control-label::after, .custom-switch .custom-control-label::before, .custom-switch .custom-control-label::after {
        top: 28%;
        transform: translateY(-50%);
    }
} 
.content-components .container {
    max-width: 100%; }