/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 18, 2021, 1:06:14 PM
    Author     : Shihan
*/

@font-face {
    font-family: ColourSansRegular2;
    src: url(../fonts/colour_sans/ColourSans-Regular2.c1fb05b.woff2) format("woff2"),
        url(../fonts/colour_sans/ColourSans-Regular2.0e7e5cf.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

.header-01,
.header-02,
.header-03,
.header-04,
.header-05 {
    font-family: ColourSansRegular2, sans-serif;
}
.df-title {
    margin-top: 35px;
}
.col-form-label.required:after, label.required:after {
    content: "*";
    color: #e95b35;
}
.pro img{width: 30%; margin-left: auto; margin-right: auto;}
.header-03 {
    font-size: 26px;
    line-height: 1.125;
    font-weight: 400;
}

.navbar-header {
    background-image: linear-gradient(90deg,#fff,#f4f4f4);
    border-bottom:none;
}
.cusnav{display: flex;}
.df-logo img {
    width: auto;
    max-height: 4.2rem;
    transition: height .15s ease-in-out;
}

.df-logo1 img {
    /*width: 8.2rem;*/
    height: auto;
    transition: height .15s ease-in-out;
}

.navbar-header{
    max-height: 75px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.navbar-header .navbar-right {
    display: grid;
}

.text-bg-primary {
  color: #fff !important;
  background-color: RGBA(1, 104, 250, var(--bs-bg-opacity, 1)) !important; }

.text-bg-secondary {
  color: #fff !important;
  background-color: RGBA(103, 119, 147, var(--bs-bg-opacity, 1)) !important; }

.text-bg-success {
  color: #fff !important;
  background-color: RGBA(12, 136, 66, var(--bs-bg-opacity, 1)) !important; }

.text-bg-info {
  color: #000 !important;
  background-color: RGBA(0, 184, 212, var(--bs-bg-opacity, 1)) !important; }

.text-bg-warning {
  color: #000 !important;
  background-color: RGBA(255, 193, 7, var(--bs-bg-opacity, 1)) !important; }

.text-bg-danger {
  color: #fff !important;
  background-color: RGBA(220, 53, 69, var(--bs-bg-opacity, 1)) !important; }

.text-bg-light {
  color: #000 !important;
  background-color: RGBA(244, 245, 248, var(--bs-bg-opacity, 1)) !important; }

.text-bg-dark {
  color: #fff !important;
  background-color: RGBA(28, 39, 60, var(--bs-bg-opacity, 1)) !important; }
.badge-lg {
  font-size: 30px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Inter UI", Roboto, sans-serif;
  padding: 3px 5px 4px;
  border-radius: 3px; }

@media (min-width: 1200px) {
    
    .container {
    max-width: 1200px;
}
    .content-components {
      margin-right: 0px;
    }
    
    .navbar-header .navbar-brand {
        padding: 0 0 0 120px;
    }
    
    .df-title {
    margin-top: 5px;
    margin-bottom: 5px;
}
}

@media (max-width: 768px) {
   .btn-xs-block { width: 100%; display:block; }
} 
.content-components .container {
    max-width: 100%; }